<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aleaSettings" type="Alea.Settings, Alea" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Steam_Trader.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Steam_Trader.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <aleaSettings>
    <memory allowNonBlittableMemoryTransfer="true" />
    <jitCompile level="Diagnostic" />
  </aleaSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <applicationSettings>
    <Steam_Trader.MySettings>
      <setting name="ShowValuation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FantasticDealProcentage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="GreatDealProcentage" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="GoodDealProcentage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BadDealProcentage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AverageCountStart" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AverageCountRange" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="KeyPrice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RefinedMetalPrice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackPackTF_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomExchangeRate" serializeAs="String">
        <value>0.89</value>
      </setting>
      <setting name="Steam_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Grouping_Inventory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grouping_Min_Inventory" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Alternative_DisplayPrices" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grouping_Listings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grouping_Min_Listings" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Independent_Search_Query" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Always_Buy_Max_Amount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoGetBackpackTF" serializeAs="String">
        <value>False</value>
      </setting>
    </Steam_Trader.MySettings>
  </applicationSettings>
  <userSettings>
    <Steam_Trader.MySettings>
      <setting name="LastUserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoLogon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUserName" serializeAs="String">
        <value />
      </setting>
    </Steam_Trader.MySettings>
  </userSettings>
  <system.net>
    <connectionManagement>
      <add address="*"   maxconnection="65000" />
    </connectionManagement>
  </system.net>
</configuration>
