<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamTrader.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamTrader.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog" />-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <SteamTrader.MySettings>
            <setting name="LastUserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoLogon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUserName" serializeAs="String">
                <value />
            </setting>
        </SteamTrader.MySettings>
    </userSettings>
    <applicationSettings>
        <SteamTrader.MySettings>
            <setting name="ShowValuation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FantasticDealProcentage" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="GreatDealProcentage" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GoodDealProcentage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BadDealProcentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AverageCountStart" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AverageCountRange" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="KeyPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefinedMetalPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Backpack_APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomExchangeRate" serializeAs="String">
                <value>0.89</value>
            </setting>
            <setting name="Steam_APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Grouping_Inventory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grouping_Min_Inventory" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Alternative_DisplayPrices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grouping_Listings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grouping_Min_Listings" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Independent_Search_Query" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Always_Buy_Max_Amount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoGetBackpack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowserPath" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
            </setting>
        </SteamTrader.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
